# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/API.Library/bin/Debug
/API.Library/obj/Debug/build.force
/API.Library/obj/Debug/API.Library.pdb
/API.Library/obj/Debug/API.Library.dll
/API.Library/obj/Debug/API.Library.csprojResolveAssemblyReference.cache
/API.Library/obj/Debug/API.Library.csproj.FileListAbsolute.txt
/packages
/WebAPI/bin/Data
/WebAPI/bin
/WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebAPI/obj/Debug/Fleet.pdb
/WebAPI/obj/Debug/Fleet.dll
/WebAPI/obj/Debug/Fleet.csprojResolveAssemblyReference.cache
/WebAPI/obj/Debug/Fleet.csproj.FileListAbsolute.txt
/WebAPI.Tests/obj/Debug/build.force
