<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net45" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="LightInject" version="4.1.0" targetFramework="net45" />
  <package id="LightInject.Annotation" version="1.1.0" targetFramework="net45" />
  <package id="LightInject.Mvc" version="1.1.0" targetFramework="net45" />
  <package id="LightInject.Web" version="1.1.0" targetFramework="net45" />
  <package id="LightInject.WebApi" version="1.1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>